@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px; }

input, button, textarea {
  font-family: inherit; }

button {
  cursor: pointer; }

a {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit; }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .ibg img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden; }

.slick-slider {
  position: relative; }

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.slick-dots li {
  margin: 0 5px; }

/* Активная точка */
/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 13px;
  height: 14px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #c8c8c8;
  outline: none; }

.slick-dots li.slick-active button {
  background-color: #a9afb3; }

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Lato', sans-serif; }

.container {
  width: 100%;
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto; }

.header {
  position: absolute;
  top: 35px;
  width: 100%;
  z-index: 100; }
  .header__menu {
    height: 85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__link {
    font-size: 13px;
    letter-spacing: 3px;
    color: #4d4959;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 40px;
    position: relative;
    -webkit-transition: .17s;
    -o-transition: .17s;
    transition: .17s;
    -webkit-transform: translateY(40%);
        -ms-transform: translateY(40%);
            transform: translateY(40%); }
    .header__link:after {
      content: '';
      width: 2px;
      height: 2px;
      background-color: black;
      border-radius: 50%;
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 0 -1px 2px 0; }
    .header__link:nth-child(2) {
      padding: 0 110px 0 40px; }
    .header__link:nth-child(2):after {
      display: none; }
    .header__link:nth-child(3) {
      padding: 0 40px 0 110px; }
    .header__link:last-child:after {
      display: none; }
    .header__link:hover {
      color: #64c29e; }
  .header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0); }
  @media (max-width: 768px) {
    .header__icon {
      position: absolute;
      z-index: 1;
      width: 25px;
      height: 18px;
      top: 50%;
      right: 50px;
      -webkit-transform: translateY(-40%);
          -ms-transform: translateY(-40%);
              transform: translateY(-40%); }
      .header__icon span {
        position: absolute;
        top: 8px;
        width: 100%;
        height: 2px;
        background-color: #000;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .header__icon span:first-child {
          top: 0; }
        .header__icon span:last-child {
          bottom: 0;
          top: auto; }
      .header__icon.active span {
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0);
        background-color: #fff; }
      .header__icon.active span:first-child {
        top: 8px;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .header__icon.active span:last-child {
        bottom: 8px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
    .header__body {
      position: fixed;
      overflow: hidden;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #4d4959;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      padding: 120px 0 0 0;
      -webkit-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
              transform: translateY(-100%);
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      overflow: auto; }
      .header__body.active {
        -webkit-transform: translateY(0%);
            -ms-transform: translateY(0%);
                transform: translateY(0%); }
    .header__link {
      color: #fff;
      font-size: 20px;
      padding: 20px 0; }
      .header__link:after {
        display: block;
        background-color: #fff;
        width: 4px;
        height: 4px;
        left: 50%;
        bottom: 0;
        margin: 0 0 -2px -2px; }
      .header__link:nth-child(2):after {
        display: block; }
      .header__link:nth-child(2) {
        padding: 20px 0; }
      .header__link:nth-child(3) {
        padding: 20px 0; } }

.main-screen {
  width: 100%;
  min-height: 100vh;
  position: relative; }
  .main-screen__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.generation {
  padding: 118px 0 145px 0; }
  @media (max-width: 1177px) {
    .generation {
      padding: 70px 0 100px 0; } }
  @media (max-width: 770px) {
    .generation {
      padding: 40px 0 60px 0; } }

.block {
  text-align: center; }
  .block__icon {
    margin: 0 0 35px 0; }
  .block__title {
    font-size: 18px;
    letter-spacing: 4px;
    color: #353738;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 30px 0; }
  .block__text {
    font-size: 18px;
    line-height: 34px;
    color: #848789; }
  .block_b .block__text {
    text-align: justify;
    padding: 0 0 30px 0;
    position: relative;
    font-size: 16px;
    line-height: 27px; }
    @media (max-width: 1177px) {
      .block_b .block__text {
        padding: 0 0 15px 0;
        font-size: 15px; } }
    .block_b .block__text:after {
      content: '';
      width: 50px;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      background-color: #d7d7d7; }

.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.row__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%; }
  .row__column_b {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66.667%;
            flex: 0 1 66.667%; }

@media (max-width: 900px) {
  .row__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%; }
  .row .item {
    padding: 0 0 70% 0; }
  .row-last .row__column:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .row-last .row__column:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .row-last .row__column:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; } }

.row__block {
  padding: 65px 40px 50px 40px;
  position: relative; }
  @media (max-width: 1177px) {
    .row__block {
      padding: 40px 25px 30px 25px; } }
  .row__block:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    bottom: -9px;
    left: 50%;
    z-index: 1;
    margin: 0 0 0 -10px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #fff; }

.row__image {
  padding: 0 0 37% 0; }

.item {
  display: block;
  position: relative;
  height: 100%; }
  .item__logo {
    opacity: 0;
    background-color: #58a5895d;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
    .item__logo span {
      font-size: 14px;
      letter-spacing: 3px;
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase;
      margin: 12px 0 0 0; }
    .item__logo:hover {
      opacity: 1; }
  .item__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.slider__wrapper {
  text-align: center;
  padding: 120px 0 70px 0; }

.slide__icon {
  margin: 0 0 30px 0; }

.slide__title {
  font-size: 18px;
  letter-spacing: 2px;
  color: #353738;
  font-weight: 700;
  margin: 0 0 20px 0; }
  .slide__title span {
    font-weight: 300;
    color: #a8aaaa; }

.slide__text {
  font-size: 24px;
  line-height: 34px;
  color: #848789;
  font-style: italic;
  padding: 0 0 105px 0; }

.shop__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666%;
          flex: 0 1 16.666%; }
  .shop__column_b {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%; }

.shop__button {
  padding: 75px 0;
  background-color: #282f35;
  text-align: center; }

.shop__btn {
  padding: 18px 55px;
  font-size: 14px;
  letter-spacing: 3px;
  color: #ffffff;
  font-weight: 700;
  background-color: transparent;
  border: 1px solid #fff; }

@media (max-width: 1100px) {
  .shop__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .shop__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%; }
    .shop__column_b {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 100%;
              flex: 0 1 100%; }
  .shop__button {
    padding: 50px 0; } }

.block-shop {
  height: 100%; }
  .block-shop__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .block-shop__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%; }
  .block-shop__item {
    height: auto;
    padding: 0 0 50% 0; }
    .block-shop__item_l {
      padding: 0 0 100% 0; }
    .block-shop__item_b {
      padding: 0 0 200% 0; }

.subscribe {
  text-align: center;
  max-width: 534px;
  padding: 110px 15px;
  margin: 0 auto; }
  .subscribe__logo {
    margin: 0 0 37px 0; }
  .subscribe__text {
    font-size: 24px;
    line-height: 34px;
    color: #848789;
    font-style: italic;
    margin: 0 0 40px 0; }
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 69px; }
  .subscribe__input {
    font-size: 20px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    height: 100%;
    margin: 0 8px 0 0;
    border: 1px solid #d3d6d9;
    font-weight: 700;
    padding: 0 27px;
    color: #848789; }
    .subscribe__input::-webkit-input-placeholder {
      font-size: 20px;
      line-height: 24px;
      font-weight: 400;
      color: #929292;
      font-style: italic; }
    .subscribe__input::-moz-placeholder {
      font-size: 20px;
      line-height: 24px;
      font-weight: 400;
      color: #929292;
      font-style: italic; }
    .subscribe__input:-ms-input-placeholder {
      font-size: 20px;
      line-height: 24px;
      font-weight: 400;
      color: #929292;
      font-style: italic; }
    .subscribe__input::-ms-input-placeholder {
      font-size: 20px;
      line-height: 24px;
      font-weight: 400;
      color: #929292;
      font-style: italic; }
    .subscribe__input::placeholder {
      font-size: 20px;
      line-height: 24px;
      font-weight: 400;
      color: #929292;
      font-style: italic; }
  .subscribe__btn {
    width: 126px;
    height: 100%;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 300;
    background-color: #64c29e; }
  @media (max-width: 650px) {
    .subscribe {
      padding: 65px 15px 110px 15px; }
      .subscribe__form {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
      .subscribe__input {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
        margin: 15px 0;
        padding: 0 15px; }
      .subscribe__btn {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 75%;
                flex: 0 1 75%; } }

.footer {
  padding: 105px 20px;
  background-color: #f7f7f7; }
  .footer__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%; }
  .footer__text {
    font-size: 14px;
    line-height: 18px;
    color: #848789;
    font-style: italic;
    font-weight: 400;
    line-height: 20px; }
    .footer__text p:first-child {
      font-weight: 700;
      font-size: 18px;
      font-style: normal; }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__dev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .footer__dev p {
      margin: 0 10px 0 0; }
  @media (max-width: 777px) {
    .footer {
      padding: 50px 20px; }
      .footer__body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center; }
      .footer__column {
        margin: 0 0 15px 0; }
        .footer__column:last-child {
          margin: 0; } }

.social__link {
  margin: 0 7.5px 0 0; }
  .social__link:last-child {
    margin: 0; }
